.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.app-logo {
  width: 80px;
  padding: 10px;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}
.res-card {
  background-color: rgb(226, 214, 214);
  margin: 10px;
  width: 200px;
  height: 300px;
  /* border: 1px solid black; */
  padding: 10px;
}
.res-logo {
  width: 160px;
  height: 80px;
  padding: 15px;
}
.res-conainer {
  display: flex;
  flex-wrap: wrap;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #c2a9a9;
  margin: 10px;
}
.login-btn {
  margin: 10px;
  padding: 10px;
}
.filter {
  display: flex;
}
.serach {
  margin: 10px;
}
.link-style {
  text-decoration: none;
  color: #000;
}
.user-card {
  border: 1px solid black;
  margin: 10px;
  padding-left: 10px;
}
